/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 sept. 2017, 16:41:06
    Author     : fbeauchef
*/
caption{
    caption-side : top;
}
table{
    border:#a8cbff 1px solid;
    border-cllapse:collapse;
    width:50%;
}

th, td{
    border:#a8cbff 1px solid;
    height:30px;
}
body {
    background: pink;
    font-family: fantasy;
    font-size: 2px
    

div {
    width : 200 px;
    background-color : green;
    padding : 10 px;
}
}
